# Binary Classification: Multivariate Logistic Regression with Statsmodels

Predict whether a bank client is likely to default on their loan or not.

Note that interest rate indicates the 3-month interest rate between banks and duration indicates the time since the last contact was made with a given consumer. The previous variable shows whether the last marketing campaign was successful with this customer. The march and may are Boolean variables that account for when the call was made to the specific customer and credit shows if the customer has enough credit to avoid defaulting.

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy import stats

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Load data

In [2]:
# load bank csv data and store in df
url = "https://raw.githubusercontent.com/lucaskienast/Classification-Models/main/1)%20Binary%20Classification/Bank_data.csv"
df = pd.read_csv(url)
df = df.drop(["Unnamed: 0"], axis=1)
df.head()

   interest_rate  credit  march  may  previous  duration    y
0          1.334     0.0    1.0  0.0       0.0     117.0   no
1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2          4.858     0.0    1.0  0.0       0.0     167.0   no
3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4          4.856     0.0    1.0  0.0       0.0     157.0   no

## Map target: yes/no -> 1/0

In [3]:
# change yes/no in column y to 1/0
df["y"] = np.where(df["y"]=="yes", 1, 0)
df.head()

   interest_rate  credit  march  may  previous  duration  y
0          1.334     0.0    1.0  0.0       0.0     117.0  0
1          0.767     0.0    0.0  2.0       1.0     274.0  1
2          4.858     0.0    1.0  0.0       0.0     167.0  0
3          4.120     0.0    0.0  0.0       0.0     686.0  1
4          4.856     0.0    1.0  0.0       0.0     157.0  0

## Explore data

In [4]:
# show summary descriptive statistics
df.describe(include="all")

       interest_rate      credit  ...     duration           y
count     518.000000  518.000000  ...   518.000000  518.000000
mean        2.835776    0.034749  ...   382.177606    0.500000
std         1.876903    0.183321  ...   344.295990    0.500483
min         0.635000    0.000000  ...     9.000000    0.000000
25%         1.042750    0.000000  ...   155.000000    0.000000
50%         1.466000    0.000000  ...   266.500000    0.500000
75%         4.956500    0.000000  ...   482.750000    1.000000
max         4.970000    1.000000  ...  2653.000000    1.000000

[8 rows x 7 columns]

## Declare features and targets

In [5]:
# create feature (X) and target (y) variables
y = df['y']
X1 = df[['interest_rate','credit','march','previous','duration']]

## Train Multivariate Logistic Regression Model

In [6]:
# build model
X = sm.add_constant(X1) # y-intercept
log_reg = sm.Logit(y, X)
log_results = log_reg.fit()

Optimization terminated successfully.
         Current function value: 0.336664
         Iterations 7

In [7]:
# show summary statistics
print(log_results.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      512
Method:                           MLE   Df Model:                            5
Date:                Fri, 27 Aug 2021   Pseudo R-squ.:                  0.5143
Time:                        19:53:45   Log-Likelihood:                -174.39
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 1.211e-77
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.0211      0.311     -0.068      0.946      -0.631       0.589
interest_rate    -0.8001      0.089     -8.943      0.000      -0.975      -0.625
credit            2.3585      1.088      2.169      0.030       0.227       4.490
march            -1.8322      0.330     -5.556      0.000      -2.478      -1.186
previous          1.5363      0.501      3.067      0.002       0.554       2.518
duration          0.0070      0.001      9.381      0.000       0.006       0.008
=================================================================================

Interpretation:

- given the all same circumstances (feature values) except the credit score (which ranges b/w 0 and 1 here), a client that has a credit score of 1 is 2.36 times as likely to pay back their loan as one with a credit score of 0.
- vice versa for the other features

## Model Accuracy

In [8]:
# make predictions for training data
log_results.predict()

array([0.10845729, 0.94310101, 0.01016712, 0.8107996 , 0.00950534,
       0.53401102, 0.03208113, 0.00360438, 0.71233264, 0.06744818,
       0.9536981 , 0.49838996, 0.89280993, 0.1015164 , 0.07595256,
       0.81903592, 0.87459125, 0.84855627, 0.3728643 , 0.76321316,
       0.97293194, 0.87334213, 0.12982914, 0.09814958, 0.65435403,
       0.08506009, 0.77401405, 0.76293622, 0.90314904, 0.04231132,
       0.02297297, 0.12217763, 0.27155822, 0.71480891, 0.05771755,
       0.01197368, 0.99318432, 0.06187083, 0.99998254, 0.54171261,
       0.05858667, 0.84153321, 0.05871492, 0.00874369, 0.8683381 ,
       0.54679839, 0.00476303, 0.15173607, 0.15689295, 0.8281327 ,
       0.72220836, 0.05318745, 0.03268499, 0.05137519, 0.00752218,
       0.80512363, 0.09452058, 0.80034267, 0.98080827, 0.83781628,
       0.03688478, 0.1128039 , 0.98917666, 0.76387305, 0.16448677,
       0.30797084, 0.04896691, 0.05903493, 0.99644849, 0.06952408,
       0.02351395, 0.71587342, 0.13853176, 0.97026524, 0.87188713,
       0.1269647 , 0.66877521, 0.04588603, 0.00964256, 0.02921325,
       0.9155679 , 0.79411022, 0.88875576, 0.12832743, 0.19102515,
       0.9762558 , 0.64038779, 0.86180071, 0.73877483, 0.034885  ,
       0.07682137, 0.03214817, 0.71294905, 0.64065148, 0.94580568,
       0.97030346, 0.96911429, 0.02709818, 0.97958012, 0.05719559,
       0.99097786, 0.07172614, 0.99008808, 0.68872774, 0.28181655,
       0.35892637, 0.19500745, 0.70006096, 0.73364305, 0.03453647,
       0.99342782, 0.41118777, 0.15675492, 0.05361119, 0.93824499,
       0.02306294, 0.04047438, 0.8967116 , 0.49926494, 0.14113849,
       0.10150411, 0.00381598, 0.9232116 , 0.99973444, 0.33146351,
       0.97624097, 0.93176507, 0.84283515, 0.69853219, 0.6692141 ,
       0.05080516, 0.26149142, 0.81344812, 0.79393609, 0.81270307,
       0.08472438, 0.2182757 , 0.73912971, 0.11101577, 0.01075132,
       0.00765104, 0.00646306, 0.2324275 , 0.79495627, 0.22858346,
       0.99847305, 0.23315577, 0.00762257, 0.99992966, 0.54045421,
       0.70604781, 0.45009302, 0.9569891 , 0.87001262, 0.04875912,
       0.8790423 , 0.58905454, 0.98064983, 0.95279101, 0.98982053,
       0.95243832, 0.83764792, 0.86856128, 0.10361022, 0.61757249,
       0.20746795, 0.05811622, 0.50373578, 0.09182435, 0.22310379,
       0.59724916, 0.96428888, 0.94427104, 0.04692667, 0.05114173,
       0.98224135, 0.65089223, 0.85493407, 0.90803141, 0.99266004,
       0.16902045, 0.12630661, 0.1111738 , 0.83672672, 0.04420428,
       0.07235171, 0.00358233, 0.03522034, 0.99981181, 0.62009977,
       0.67909751, 0.42513488, 0.09354747, 0.68737827, 0.89238236,
       0.0196011 , 0.90814932, 0.03122812, 0.90125072, 0.69895441,
       0.04951739, 0.57518601, 0.95873541, 0.98961629, 0.0424087 ,
       0.10594319, 0.95788865, 0.70208325, 0.02118334, 0.98904129,
       0.67139984, 0.0191092 , 0.99526724, 0.74221748, 0.03167638,
       0.69690622, 0.99706035, 0.79737279, 0.56967881, 0.00455828,
       0.9795834 , 0.9554847 , 0.05221661, 0.00956348, 0.90254328,
       0.0137693 , 0.62038288, 0.91355601, 0.99845992, 0.97287812,
       0.30241515, 0.0138641 , 0.19749045, 0.88919549, 0.59544745,
       0.99930435, 0.73076266, 0.19105001, 0.36605667, 0.86069845,
       0.09692946, 0.99932756, 0.00626683, 0.08331404, 0.99818221,
       0.9986249 , 0.81771725, 0.07386881, 0.88958905, 0.99578985,
       0.11608368, 0.95655485, 0.08430233, 0.02971861, 0.05400715,
       0.89477578, 0.93136416, 0.08930885, 0.8582917 , 0.22454816,
       0.88469323, 0.97966113, 0.99728052, 0.09612991, 0.49700382,
       0.04516354, 0.37278261, 0.1280015 , 0.43530688, 0.21514021,
       0.91940245, 0.7973535 , 0.45718885, 0.03746877, 0.9940896 ,
       0.80726361, 0.95436925, 0.13357712, 0.02105605, 0.17796849,
       0.78849432, 0.12785017, 0.60329914, 0.99999807, 0.17812328,
       0.93547086, 0.03034996, 0.94511284, 0.18635461, 0.67237404,
       0.052402  , 0.73911723, 0.07130109, 0.41190384, 0.80270876,
       0.09342162, 0.84686296, 0.00531244, 0.02971861, 0.96813641,
       0.02777013, 0.25974846, 0.06227275, 0.09924503, 0.0688242 ,
       0.4950392 , 0.01426102, 0.9823858 , 0.71983736, 0.84721029,
       0.05297672, 0.90178121, 0.05014087, 0.92719269, 0.93302228,
       0.55726463, 0.94694222, 0.78114049, 0.96442946, 0.07374848,
       0.89851085, 0.03779886, 0.03894376, 0.03839674, 0.02976479,
       0.99212719, 0.34771216, 0.57739973, 0.99731371, 0.34974547,
       0.99746214, 0.93071095, 0.99445211, 0.9006349 , 0.00470013,
       0.62829969, 0.9774632 , 0.59766734, 0.9638084 , 0.98410414,
       0.60160942, 0.08281148, 0.99905398, 0.03407549, 0.02567578,
       0.91152677, 0.74693907, 0.99999948, 0.92530389, 0.04703415,
       0.87283592, 0.76045896, 0.00478849, 0.91582122, 0.96702349,
       0.06367885, 0.97991553, 0.90510931, 0.04062675, 0.83259321,
       0.06547119, 0.03964104, 0.55683466, 0.13686789, 0.4091118 ,
       0.95385676, 0.01763322, 0.94523516, 0.22121021, 0.05144134,
       0.99972794, 0.89833954, 0.69712062, 0.90926163, 0.87638699,
       0.05047069, 0.08052484, 0.03791543, 0.99336269, 0.92340631,
       0.33323894, 0.73277005, 0.06186771, 0.64897282, 0.7147469 ,
       0.10990998, 0.76717976, 0.41465558, 0.05299079, 0.89165789,
       0.05127197, 0.07757767, 0.97809761, 0.69194988, 0.9968352 ,
       0.22232182, 0.25544838, 0.01548356, 0.20501633, 0.51869196,
       0.96427685, 0.50284133, 0.04162318, 0.98059968, 0.0057021 ,
       0.00962961, 0.19324157, 0.99976476, 0.36858725, 0.90513985,
       0.38973006, 0.9384829 , 0.66603343, 0.30371568, 0.17423042,
       0.68122146, 0.90380599, 0.00429646, 0.60157087, 0.10064067,
       0.98900642, 0.75901555, 0.20985463, 0.08226488, 0.85927929,
       0.1805039 , 0.89197333, 0.89921607, 0.82337179, 0.79784659,
       0.70353644, 0.43641134, 0.97449129, 0.24934982, 0.02063009,
       0.01693779, 0.00817379, 0.34454728, 0.11879664, 0.99358872,
       0.03788626, 0.05002411, 0.09001271, 0.00475167, 0.99473319,
       0.19186746, 0.9373616 , 0.06687916, 0.7791679 , 0.03891383,
       0.62082467, 0.96693465, 0.59608925, 0.94732573, 0.03901421,
       0.57691499, 0.9996285 , 0.43655525, 0.49298634, 0.51934774,
       0.05487375, 0.67042933, 0.84706994, 0.09692946, 0.05541932,
       0.04542981, 0.03617832, 0.99967478, 0.65579873, 0.57605514,
       0.98252595, 0.3380936 , 0.17812328, 0.9992894 , 0.56582828,
       0.64780606, 0.50242475, 0.46117272, 0.08024711, 0.68583224,
       0.00455465, 0.80954644, 0.12808638, 0.02414838, 0.9989301 ,
       0.98593048, 0.81755501, 0.71566427, 0.99355042, 0.16733421,
       0.5337695 , 0.72865894, 0.19241272, 0.25196341, 0.02976479,
       0.11537028, 0.11476579, 0.99013883, 0.35478294, 0.40446687,
       0.98312892, 0.05871789, 0.52991345, 0.48892826, 0.89153146,
       0.37152155, 0.81814623, 0.01946784, 0.90885605, 0.94017649,
       0.59790161, 0.34049548, 0.21403322, 0.18223193, 0.99839664,
       0.78470172, 0.98376815, 0.04716685])

These values between 0 and 1 represent the probability of an observation being classified into class 1. Hence, if the probability is greater than or equal to 0.5, it will be rounded to 1, and otherwise to 0.

In [9]:
# show confusion matrix
log_results.pred_table()

array([[218.,  41.],
       [ 30., 229.]])

In [10]:
# confusion matrix formatted as df
cm_df = pd.DataFrame(log_results.pred_table())
cm_df.columns = ["Predicted 0", "Predicted 1"]
cm_df = cm_df.rename(index={0:"Actual 0", 1:"Actual 1"})
cm_df

          Predicted 0  Predicted 1
Actual 0        218.0         41.0
Actual 1         30.0        229.0

- For 218 observations, the model predicted 0 when the true value was 0.
- For 30 observations, the model predicted 0 when the true value was 1.
- vice versa for when the model predicted 1

In [11]:
# calculate actual accuracy
cm = np.array(cm_df)
accuracy_train = (cm[0,0] + cm[1,1])/cm.sum()
accuracy_train

0.862934362934363

The model shows 86% accuracy on the training data.

## Test Model

In [12]:
# load test bank csv data and store in df
url = "https://raw.githubusercontent.com/lucaskienast/Classification-Models/main/1)%20Binary%20Classification/Bank_data_testing.csv"
df_test = pd.read_csv(url)
df_test = df_test.drop(["Unnamed: 0"], axis=1)
df_test["y"] = np.where(df_test["y"]=="yes", 1, 0)
df_test.head()

   interest_rate  credit  march  may  previous  duration  y
0          1.313     0.0    1.0  0.0       0.0     487.0  0
1          4.961     0.0    0.0  0.0       0.0     132.0  0
2          4.856     0.0    1.0  0.0       0.0      92.0  0
3          4.120     0.0    0.0  0.0       0.0    1468.0  1
4          4.963     0.0    0.0  0.0       0.0      36.0  0

In [13]:
# declare features and targets of test dataset
y_test = df_test['y']
X1_test = df_test[['interest_rate','credit','march','previous','duration']]
X_test = sm.add_constant(X1_test) # y-intercept

In [14]:
def confusion_matrix(data,actual_values,model):
        # Confusion matrix 
        
        # Parameters
        # ----------
        # data: data frame or array
            # data is a data frame formatted in the same way as your input data (without the actual values)
            # e.g. const, var1, var2, etc. Order is very important!
        # actual_values: data frame or array
            # These are the actual values from the test_data
            # In the case of a logistic regression, it should be a single column with 0s and 1s
            
        # model: a LogitResults object
            # this is the variable where you have the fitted model 
            # e.g. results_log in this course
        # ----------
        
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and 
        return cm, accuracy

In [15]:
confusion_matrix(X_test, y_test, log_results)

(array([[93., 18.],
        [13., 98.]]), 0.8603603603603603)

The model performs slightly worse on the test data, which is expected.